	/* Page en général */
@font-face {
font-family: 'Lato-regular';
src: url('fonts/lato/lato-regular.ttf');
}

@font-face {
font-family: 'Lato-light';
src: url('fonts/lato/lato-light.ttf');
}

html {
    font-size: 62.5%; /* Ré-équilibrage du Rem face au Pixel pour des calculs simples */
}

body {
	font-family: "Lato-regular","Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	color: #666666;
	margin: 0;
	padding: 0;
}

		/* Header - Titre & Sous-titres */
header{
	background-color: #000000;
}

.titre-site{

	display: block;
	text-decoration: none;
	color: inherit;

	color: white;
	width: 960px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.titre-site h1{
	font-family: "Lato-light";
	font-size: 8rem;
	margin: 0;
	padding-top: 4rem;
	padding-bottom: 0.5rem;
}

.titre-site p{
	color: #666;
	font-size: 2rem;
	margin: 0;
	padding-bottom: 2.3rem;
}

@media only screen and (max-width: 959px) and (min-width: 768px){
	.titre-site{
		width: 768px;
	}
}

@media only screen and (max-width: 767px){
	.titre-site{
		margin-left: auto;
		margin-right: auto;
		width: 300px;
	}

	.titre-site h1{
		font-size: 4rem;
		padding-top: 6rem;
	}
}

@media only screen and (max-width: 767px) and (min-width: 480px){
	.titre-site{
		width: 420px;
	}
}

#barre-nav{
	background-color:#404040;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#nav-site{
	clear: both;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	max-width: 960px;
	min-height: 36px;
	position: relative;
}

nav h4{
	font-size: 1.5rem;
}

#nav-menu ul{
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 4rem;
	list-style-type: none;
}

#nav-menu li{
	display: list-item;
}