		/* Page en général */
@font-face {
font-family: 'Lato-font';
src: url('fonts/lato/lato-light.ttf');
}

html {
    font-size: 62.5%; /* Ré-équilibrage du Rem face au Pixel pour des calculs simples */
}

body {
	font-family: "Lato-font","Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	color: #666666;
	margin: 0;
	padding: 0;
}

nav a{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
}

		/* Header & titre - couleurs */
header{
	background-color: #000000;
}

header a{
	text-decoration: none;
	color: inherit;
}

#bandeau-entete, #bandeau-entete h1, #bandeau-entete p{
	color: white;
	width: 75%;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#bandeau-entete h1 {
	font-size: 8rem;
	padding-top: 20px;
}

#bandeau-entete p {
	color: #666;
	font-size: 2.3rem;
	font-variant: small-caps;
}

		/* Barre de nav */

#barre-menu{
	background-color:#404040;
    margin: 0px;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

#barre-menu-centrer{
	font-size: 1.5rem;
    margin-right: auto;
    margin-left: auto;
	max-width: 960px;
	width: 75%;
}

#navigation-site{
	color: #ccc;
	font-variant: small-caps;
}

	/* Barre de nav - liens */
nav ul{
	margin: 0;
    padding: 0;
	list-style-type: none;
}

nav li{
	display: inline-block;
}